useDynLib("focus")

export(
  "focus.start",
  "focus.close",
  "focus.create.matrix.data",
  "focus.create.matrix.data.proxy",
  "focus.create.sparse.matrix.data",
  "focus.create.gmra.data",
  "focus.create.orthogonal.projection",
  "focus.create.linear.projection",
  "focus.create.single.point.focus.projection",
  "focus.create.two.point.focus.projection",
  "focus.create.three.point.focus.projection",
  "focus.create.line.focus.projection",
  "focus.create.correlation.projection",
  "focus.create.projection.group",
  "focus.set.no.animation",
  "focus.set.rotation.animation",
  "focus.set.tangent.rotation.animation",
  "focus.add.projection.display",
  "focus.add.profile.display",
  "focus.add.points.display",
  "focus.points.display.set.points",
  "focus.add.pca.display",
  "focus.add.group.pca.display",
  "focus.add.image.display",
  "focus.add.multi.index.image.display",
  "focus.add.point.as.image.display",
  "focus.add.point.as.image.patch.display",
  "focus.add.point.range.as.image.display",
  "focus.add.circle.background",
  "focus.add.vertical.circle.lines.background",
  "focus.add.horizontal.circle.lines.background",
  "focus.add.projector.shadow.background",
  "focus.add.center.shadow.background",
  "focus.set.projection.background.color",
  "focus.set.projection",
  "focus.set.group",
  "focus.get.group",
  "focus.clear.group",
  "focus.add.paired",
  "focus.get.paired",
  "focus.clear.paired",
  "focus.add.line",
  "focus.add.focus.color",
  "focus.set.active",
  "focus.clear.active",
  "focus.set.density",
  "focus.get.density",
  "focus.get.selection",
  "focus.set.background.color",
  "focus.set.default.color",
  "focus.set.group.color",
  "focus.set.group.colors",
  "focus.set.group.colors.ramp",
  "focus.gmra.expand.to.scale",
  "focus.setup.groups",
  "focus.setup.correlation.plot", 
  "focus.setup.single.point.focus.plot", 
  "focus.setup.two.point.focus.plot",
  "focus.setup.line.focus.plot",
  "focus.setup.three.point.focus.plot",
  "focus.setup.single.point.focus.versus.orthogonal.plot",
  "focus.setup.4way",
  "focus.setup.6way",
  "focus.setup.6way.data",
  "focus.example.hypercube", 
  "focus.example.normal.plus.uniform", 
  "focus.example.planes", 
  "focus.example.normals", 
  "focus.hypercube.vertices", 
  "focus.sphere", 
  "focus.sinusoids", 
  "focus.sinusoids.grid", 
  "focus.torus" 
)
